#loadMore {
	margin: 165px auto;
	display: block;
	width: 165px;
	color: $primary_font_color;
	font: 400 20px/60px $secondary_font;
	text-align: center;
	border: 1px solid $primary_font_color;
	cursor: pointer;
}