.footer {
	width: 100%;
	min-height: 100px;
	padding: 40px 0 45px 0;
	background-color: #f0f0f0;
	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.footer-nav, .social {display: flex;}
	.footer-nav li {margin-right: 15px;}
	.social li {margin-right: 20px;}
	.fa {
		color: $primary_font_color;
		font-size: 17px;
	}
	a {
		color: $footer_color;
		font: 400 14px $secondary_font;
	}
}