.hero {
	nav {
		background-color: #ffffff;
		border: none;
		box-shadow: none;
	}
	.nav-list {
		a {
			// padding: 0 30px;
			color: $primary_font_color;
		}
	}
	.parallax-container {
		height: 510px;
	}
	.material-icons {color: $primary_font_color;}
	.intro {
		width: 100%;
		min-height: 510px;
		background: url("../../img/hero-img.png") center center no-repeat;
		background-size: cover;
	}
}