.hero {
	nav {
		background-color: #ffffff;
		border: none;
		box-shadow: none;
	}
	.nav-list a{
		padding-left: 60px;
		color: $primary_font_color;
	}
	.parallax-container {
		height: 510px;
	}
	.material-icons {color: $primary_font_color;}
}