.news-subscription {
	width: 100%;
	min-height: 290px;
	background-color: #f0f0f0;
	padding: 75px 0;
	text-align: center;
	.title {
		color: #333333;
		font: 400 30px $secondary_font;
		letter-spacing: 0.75px;
	}
	.subscription-form {
		max-width: 400px;
		margin: 0 auto;
	}
}