.previews {padding: 70px 0;}
.posts {padding: 0 60px 120px 0;}
.posts {
	.category {
		color: #b4ad9e;
		font: 300 14px Ubuntu;
		text-transform: uppercase;
	}
	.title {
		color: $primary_font_color;
		font: 400 28px $secondary_font;
		margin: 0;
		padding-bottom: 35px;
	}
	p {
		color: $primary_font_color;
		font: 400 14px/24px $secondary_font;
	}
	a {
		display: block;
		margin-top: 50px;
		@extend .category;
	}
	.post {padding-top: 85px;}
}
